; { nyi } = not yet implemented
; 1 = file remove
; 2 = file rename
; 3 = search and destroy
; 5 = remove file based on registry key value
; 6 = file move { nyi }
; 7 = find file based on hex id { nyi }
; 8 = remove file based on registry key value found via hex id
; 9 = search and destroy file based on hex id
; 10 = remove matchtext from [file]
; 11 = remove matchtext from [file] based on hex ID
; 20 = path remove
; 21 = path search and destroy
; 22 = look for invalid directories
; 30 = reg add   { nyi }
; 31 = reg remove data from key
; 32 = reg change { nyi }
; 33 = reg search and destroy { nyi }
; 34 = reg remove data based on filename matching ID
; 35 = reg remove key
; 36 = reg remove data based on id
; 40 = kill process { nyi }

[=thecleaner=]
description=The Cleaner v1.9c datafile version is v1.9c
version=1.9c
ignore=1

[DMSETUP]
description=The DMSETUP trojan copies itself to several places on the hard drive and inserts itself in autoexec.bat
f=4
file1=dmsetup.exe,3
file2=c:\configg.sys,1
file3=c:\mirc\mirc.ini,1
file4=c:\autoexec.bat,10,dmsetup
extra=You should exit and restart mirc.  You may need to enter some setup information.

[DMSETUP2 (all variants)]
description=This variation on DMSETUP installs the mirc backdoor and creates lots of invalid directories.
ID=PFUA6NXNKe3a6N33&--f2DNN2NNJEN-N2YNN2N3N2BNN2NYN2NNi2NNN2-NN6NbN3NN*2NNNaVNNANfN4NNp2NNNaxNNENRN5NNs2NNN2D3N2Nf32NN-23NNJT3N6Nu34NNF23NNah3NEN335NNV23NNrw3N2NH42NNj24NNJ54N6NX43NNy24NNaK4NANm45NN724NNrZ4NEN~42NNM25NN2o5N6N953NNb25NNJ%5NANP54NNq25NNrB5NENM55NNX25NNri5NENr55NN*25NN2H6N2NQ62NNa26NN2i6N6N763NNZ26NNJ~6NANM64NNo26NNr96NENb65NN%26NN2P7N2Nq73NNB27NNJd7N6N*74NNR27NNas7NEND75NNf27NNr-7N2NT82NNu28NNJF8N6Nh84NN328NNaV8.
f=6
file1=%dmsetup%.exe,9,%id%
file2=c:\mirc\mirc.ini,1
file3=c:\mirc\%dmsetup%.ini,9
file4=c:\mirc\%dmsetup%.mrc,9
file5=c:\ni.ini,1
file6=c:\autoexec.bat,11,%id%
warn=1
extra=You should exit and restart mirc.  You may need to re-enter some setup information.

[NUKINGS]
description=The NUKINGS trojan us a hacked copy of DMSETUP and copies itself to several places on the hard drive and inserts itself in autoexec.bat
f=4
file1=nukings.exe,3
file2=c:\configg.sys,1
file3=c:\mirc\mirc.ini,1
file4=c:\autoexec.bat,10,nukings
extra=You should exit and restart mirc.  You may need to re-enter some setup information.

[HELLIRC]
description=The HELLIRC trojan us a hacked copy of DMSETUP and copies itself to several places on the hard drive and inserts itself in autoexec.bat
f=4
file1=hellirc.exe,3
file2=c:\configg.sys,1
file3=c:\mirc\mirc.ini,1
file4=c:\autoexec.bat,10,hellirc
extra=You should exit and restart mirc.  You may need to re-enter some setup information.

[Back Orifice Hack]
description=This is a hex edited BOSERVE that has the Win95.CIH virus attached.  You should run a full virus scan often.
ID=QFUJ2N5N2NN62NNN&--NANzN2NNN2NNNJ2NN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNNa2NN2NGZa#GNdvBFAbz3WEFbPNijKuarPtqhPtbo7adbPppqKvacKfatNwpaNjpaP6HM7aoqNefp2NNN2eNN2NNN7NPJJ7NNJE38GNUPr8wN2NNN2NNNENaN2G3D235N6N832NNG23NN2NNNaa4N2NNJ2NNNJa3N3NN22NNJ2NNN24NN26NN2NNN2NN62NNN2NNN4NNJ24NN26NN2NNN2N4N2NNN2NJN2NJN2NNN2JNN2JNN2NNN2NJN2NNN2NNN2NNN2NNa54NA2NNN6N24ANSg2NNN2NNN2NNN2NNN2NNN2NNN6Nr4ANnQ2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NN.
r=1
hkeyroot=HKEY_LOCAL_MACHINE
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\RunServices,31,
f=1
file1=%dmsetup%,9,%id%
warn=1
reboot=1
extra=This hack is often found to be a file with no name.  You may need to find and erase this file manually.  Look for it in \WINDOWS\.

[script.ini]
description=This trojan copies itself to c:\mirc\.  Some older versions of mirc automatically load this script.
f=1
file1=c:\mirc\script.ini,1
extra=You should exit and restart mirc.

[mIRC Scripts]
description=Various mIRC related trojan scripts.
f=2
file1=icq311.ini,3
file2=mircpee.ini,3
extra=You should exit and restart mirc.

[Control (sokets des troie)]
description=Control allows people to remotely control your system (ala PCAnywhere) *if* you are running Control.
f=4
file1=c:\windows\rsrcload.exe,1
file2=c:\windows\system\msgrv32.exe,1
file3=c:\windows\system\mgadeskdll.exe,1
file4=c:\windows\system\csmctrl32.exe,1
reboot=true
extra=This program may have come with or been infected with a virus.  Please make sure to scan your system regularly.

[Netbus]
description=This is a similar setup to Back Orifice in that it installs a hidden server which can be accessed by anyone running the client.
r=1
hkeyroot=HKEY_LOCAL_MACHINE
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,31,SYSEDIT
f=1
file1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,5,SYSEDIT
reboot=1

[Netbus 1.6]
description=This is a similar setup to Back Orifice in that it installs a hidden server which can be accessed by anyone running the client.
id=PFUJ2N4N2NN62NHN&--NANzN2NNN2NNNJ2NU2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2N3NAN#J2NGZdvBFAbz3WEFbjJJNPiju7artPqhtNboaPowuKvacKfatNwpaPwpeNftaPRjp2utN2Ney2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN7NJ73NNE23AN7TY42kNN2NNN2NNNtaNGa3D324TNJA7NENk32NNN3NNzJQ7N2NJN3NNa27NN6N2N2NJN2NN42NN.
r=1
hkeyroot=HKEY_LOCAL_MACHINE
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,34,%id%
f=1
file1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,8,%id%
reboot=1
warn=1

[ICKiller]
description=Another backdoor trojan similar to NetBus
f=3
file1=ickiller.exe,3
file2=c:\windows\system\http34.0cx,1
file3=c:\windows\system\dssock32.exe,1
reboot=1

[ICQ Trojen]
description=Yet another backdoor trojan based on NetBus
f=3
file1=c:\program files\mirabilis\icq2.exe,0
file2=c:\program files\mirabilis\icq.exe,1
file3=c:\program files\mirabilis\icq2.exe,2,c:\program files\mirabilis\icq.exe
extra=Make sure you exit ICQ and NetDetect before attempting to clean.

[ICQ Protector]
description=Another backdoor trojan
f=2
file1=protect.tcc,3
file2=protector.exe,3
r=1
hkeyroot=HKEY_LOCAL_MACHINE
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,31,WFIPS

[Enigma's Setup Trojan]
description=This trojan can be attached to a real setup.exe and creates a hidden share of C:\ with full read/write permissions and no password.  Found by Mike Henze (mhenze@bigfoot.com)
hkeyroot=HKEY_LOCAL_MACHINE
r=2
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Network\LanMan\C$,35
reg2=\Security\Access\C:,35
reboot=1

[Master's Paradise]
description=This trojan installs itself as a bogus copy of SYSEDIT.EXE
hkeyroot=HKEY_LOCAL_MACHINE
r=1
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,31,SYSEDIT
f=3
file1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,5,SYSEDIT
file2=%windir%\sysedit.exe,1
file3=%windir%\keyhook.dll,1
reboot=1
extra=You may see two entries that remove SYSEDIT.EXE and this is due to the program's method of installation.

[OCE]
description=Another simple backdoor trojan.
hkeyroot=HKEY_LOCAL_MACHINE
r=1
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,31,oce
f=1
file1=%windir%\oce.exe,1
reboot=1

[Route32b]
description=Simple backdoor trojan.
hkeyroot=HKEY_LOCAL_MACHINE
r=1
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,31,Route32b
f=1
file1=%windir%\Route32b.exe,1
reboot=1

[WarTools]
description=The trojan that places a bogus EXPLORER.EXE in your System directory.  If executed it will erase all your .exe files.
ID=QFUJ2N5N2NN62NNN&--NANzN2NNN2NNNJ2NN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNNa2NN2NGZa#GNdvBFAbz3WEFbPNijKuarPtqhPtbo7adbPppqKvacKfatNwpaNjpaP6HM7aoqNefp2NNN2eNN2NNN3NNJJ7NNJE37GN6K27xN2NNN2NNNENaN2G3D236N2Np92NN423NN2NNNS&2N2NNJ2NNNJ29N3NN22NNJ2NNN24NN26NN2N3N2NN62NNN2NNN3NNJ2ANN26NNrEQA2N4N2NNN2NJN2NJN2NNN2JNN2JNN2NNN2NJN2NNN2NNN2NNN3NNa29Ni2NNN6Nr9ENJ72NNN2NNN2NNN2NNN2NNN2NNNAN295NS92NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NN.
f=2
file1=%dmsetup%.exe,9,%id%
file2=%sysroot%\explorer.exe,1
hkeyroot=HKEY_LOCAL_MACHINE
r=1
reg1=\SOFTWARE\Microsoft\Windows\CurrentVersion\Run,31,Explorer
warn=1
reboot=1

[Deep BO]
description=Back Orifice client that opens port 31338 while it is running.
f=1
file1=deepbo.exe,3

[Phase-0 beta]
description=This trojan is another trojan along the lines of NetBus, Control and Back Orifice
ID=PFUJ2N4N2NN62NHN&--NANzN2NNN2NNNJ2NU2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2N3NAN#J2NGZdvBFAbz3WEFbjJJNPiju7artPqhtNboaPowuKvacKfatNwpaPwpeNftaPRjp2utN2Ney2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN7NJ73NNE23AN7TY42kNN2NNN2NNNtaNGa3D324TNaY5NENzN2NNN4NNNan5N2NJN4NNr25NN6N2N2NJN2NN42NN.
f=1
file1=%dmsetup%.exe,9,%id%
r=1
hkeyroot=HKEY_LOCAL_MACHINE
reg1=*,36,%id%
reboot=1
warn=1

[Back Orifice]
description=This trojan copies itself to \windows\system\ and renames itself to .exe or some other name.  The cleaner will remove the default key under RunServices.
id=QFUJ2N5N2NN62NNN&--NANzN2NNN2NNNJ2NN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNNa2NN2NGZa#GNdvBFAbz3WEFbPNijKuarPtqhPtbo7adbPppqKvacKfatNwpaNjpaP6HM7aoqNefp2NNN2eNN2NNN3NNJJ7NNJE38GNUPr8wN2NNN2NNNENaN2G3D235N6N832NNG23NN2NNN&2WN2NNJ2NNNJa3N3NN22NNJ2NNN24NN26NN2NNN2NN62NNN2NNN4NNJ24NN26NN2NNN2N4N2NNN2NJN2NJN2NNN2JNN2JNN2NNN2NJN2NNN2NNN2NNN2NNa54NA2NNN6N24ANSg2NNN2NNN2NNN2NNN2NNN2NNN6Nr4ANnQ2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NNN2NN.
r=1
hkeyroot=HKEY_LOCAL_MACHINE
reg1=*,36,%id%
f=2
file1=%dmsetup%.exe,9,%id%
file2=windll.dll,3
reboot=1
warn=1

